table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ul {
    list-style-type: circle;
}

h1, h2, h3, h4, h5, h6{
    color: #98be0f;
    background-color: #3f3f3f;
    text-align: center;
}

b, a {
    color: #f08c00;
}

.p_center{
    text-align: center;
}

.img_href{
    height: 50px;
}

.img_right {
    /*align: right;*/
    float: right;
}